.padrao {
    background-color: whitesmoke;
    color: black;
}

.cor1 {
    background-color: black;
    color: white;
}

.cor2 {
    background-color: maroon;
}

.cor3 {
    background-color: red;
}

.cor4 {
    background-color: orange;
}
.cor5 {
    background-color: yellow;
}
.cor6 {
    background-color: green;
}

.cor7 {
    background-color: blue;
}

.cor8 {
    background-color: purple;
}
.cor9 {
    background-color: gray;
}
.cor10 {
    background-color: white;  
}